/*GENERAL---------------------------------------------------------------------*/
    
/*DECLARATION DES VARIABLES ET MIXIN SASS*/

$color-primary: #F1E9F0;
$color-secondary: #7E55B7;
$color-tertiary: #AE7686;
$color-white: #FFF;
$color-bkg : #A1A5A9;

@mixin boxshadow($color: $color-bkg) {
    box-shadow: 2px 4px 8px 3px darken($color, 10%);
}

@mixin boxshadowBtn($color: $color-bkg) {
    box-shadow: 2px 2px 2px 2px lighten($color, 20%);
}

/*@mixin headingpolice {
    font-family:  TROUVER POLICE TITRE Verdana, sans-serif;
}*/


/*Body*/

body {
    background-color: $color-bkg;
}

h1 {
    font-weight: bold;
    color: #000;
    font-family: "Varela Round";
    font-size: 2em;
}

h2 {
    color: #000;
    font-family: "Varela Round";
    font-size: 1.1em;
}

h3 {
    color: darken($color-secondary, 20%);
    font-family: "Varela Round";
    font-size: 1.3em;
}

.btn {
     @include boxshadowBtn;
    &__order {
        background: darken($color-secondary, 10%)!important;
        color: $color-white;
        &:hover {
            border: 1px solid #000;
            color: $color-white;
            @include boxshadowBtn(darken($color-bkg, 20%));
        }
    }
    &__details {
        background: darken($color-tertiary, 10%)!important;
        &:hover {
            border: 1px solid #000;
            color: $color-white;
            @include boxshadowBtn(darken($color-bkg, 20%));
        }
    }
    &__remove {
        background: darken($color-tertiary, 10%)!important;
        color: $color-white;
        &:hover {
            color: #000;
        }
    }
}

/*Header*/

header {
    background-color: $color-bkg; //darken(rgba(174,118,134, 0.6), 15%);
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 2;
    border-bottom: 1px solid $color-primary;
}

.menu {
    &__img {
        background: $color-primary;
        border: 4px solid $color-secondary;
        border-radius: 5px;
        margin-top: 8px;
    }
    &__item {
        font-size: 1.3em!important;
    }
}

/*Footer*/

.footer {
    background-color: darken(rgba(174,118,134, 0.7), 20%);
    height: 200px;
    color: $color-white;
    font-size: 1.1em;
    padding-top: 60px;
    &__item {
        margin-right: 50px;
        margin-left: 50px;
        & a {
            color: $color-white;
            &:hover {
                text-decoration: none;
                color: #000;
            }
        }  
    }
    &__icon {
        font-size: 1.8em;
    }
}

/*PAGE ACCUEIL---------------------------------------------------------------------*/

/*Mise en page des "cases" produits affichées sur la page d'accueil */

.intro {
    padding-top: 160px;
    background: url("../images/fondBois.jpg") no-repeat;
    background-size: cover;
    &__box {
        margin-right: 30px;
        background-color: rgba(250, 250, 250, 0.6);
        padding: 0;
    }
    &__title {
            padding: 25px 0px 20px 0;
        }
    &__details {
        width: 50%;
        margin: auto;
        margin-bottom: 30px;
        background: darken(rgba(174,118,134, 0.6), 20%);
        & h2 {
            padding: 15px;
            color: #F1E9F0;
        }
    }
}

#products {
    margin: auto;
    margin-bottom: 30px;
}

.card {
    margin-bottom: 20px;
    padding: 0 30px 0px 8px;
    border: 2px solid #000;
    border-radius: 15px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    @include boxshadow;
    &__elements {
        height: 190px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        width: 80%;
    }
    &__btns {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 20%;
        position: relative;
        z-index: 1;
    }
    &__btnOrder {
        margin-top: 20px;   
    }
    &__details {
        margin-top: 20px;
    }
}

/*Animation du message "ajouté" qui apparaît quand on clique sur le bouton*/

.message-addelt {
    background: lighten($color-bkg, 20%);
    border: 2px solid black;
    border-radius: 10px;
    color: #000;
    padding: 20px 30px;
    font-size: 1em;
    width: 220px;
    position: absolute;
    bottom: 5%;
    right: 110%;
    z-index: 2;
    opacity: 0;
}
        
.element {
    &__img {
        height: 95%;
        width: 30%;
        object-fit: cover;
        margin-right: 20px;
        border-radius: 10px 0 0 10px;
    }
    &__details {
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden; 
    }
}
    
.card__description, .card__name {
    width: 90%;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis; 
}    


/* MEDIA QUERIES POUR ADAPTER LE SITE A UN ECRAN TABLETTE*/

@media screen and (min-width : 770px) and (max-width : 1024px) {
    .card {
        flex-direction: column;
        height: 260px;
        padding-right: 10px;
    &__elements {
        height: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        width: 100%;
        border-bottom: 2px solid $color-secondary;
        }
        &__btns {
            align-self: flex-end;
            flex-direction: row;
            width: 70%;
            height: 30%;
        }
        &__btnOrder{
            margin-bottom: 20px;
            margin-left: 20px;
            min-width: 150px; 
        } 
        &__btnDetails {
            margin-bottom: 20px;
            min-width: 150px; 
            margin-top: 20px;
        }
    }
    .message-addelt {
       position: absolute;
        bottom: 50%;
        right: 30%; 
    }
}

/* MEDIA QUERIES POUR ADAPTER LE SITE A UN ECRAN SMARTPHONE*/

@media screen and (max-width : 770px) {
    .intro__details {
        width: 80%;
    }
    #products {
        padding-left: 0;
        padding-right: 0;
    }
    .card {
        height: 480px;
        padding: 0;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        &__elements {
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 73%;
        }
        &__btns {
            width: 80%;
            flex-direction: column;

            height: 27%;
            align-self: center;
        }
        &__btnOrder{
            margin-top: 10px;
            margin-left: 0px;
            margin-bottom: 20px;
        } 
        &__btnDetails {
            margin-bottom: 0px;
            margin-top: 0px;
        }
    } 
    .element {
        &__img {
            height: 60%;
            min-width: 94%;
            margin-right: 0;
            margin-top: 10px;
            border-radius: 10px 10px 0 0;
        }
        &__details {
            margin-top: 20px;
            height: 40%;
        }
    }
    .message-addelt {
        bottom : 55%;
        right: 15%;
    }
}

// AJOUTER MEDIA QUERY POUR PLACEMENT DU MESSAGE D'ALERTE AJOUT !!!!


/*PAGE CART---------------------------------------------------------------------*/

/*Mise en page des "cases" produits affichées sur la page d'accueil */


.cartpage {
    padding-top: 160px;
    background: lighten($color-bkg, 15%);
    padding-left: 50px;
    padding-right: 30px;
    min-height: 800px;
    position: relative;
    &__title {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 50px;
        padding-top: 30px;
    }
    &__sections {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 50px;
    }
}

#cart-section {
    margin-bottom: 30px;
}

#emptycart {
    margin-top: 100px;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-size: 1.6em;
    border: 2px solid $color-tertiary;
    border-radius: 5px;
    width: 300px;
}


.cartitem {
    margin-bottom: 20px;
    background: $color-white;
    padding: 5px 20px 5px 5px;
    border: 2px solid $color-secondary;
    border-radius: 10px;
    @include boxshadow;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &__img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
    }
    &__title {
    width: 30%;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis; 
    }
    &__price {
        margin-bottom: 0;
    }
    &__qty {
        border: 1px solid $color-secondary;
        border-radius: 50%;
        padding: 0 5px 0 5px;
    }
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    &__amount {
        width: 60%;
        display: block;
        margin: auto;
        margin-bottom: 50px;
        background-color: $color-primary;
        //border: 4px solid $color-secondary;
        border-radius: 10px;
        color: #000;
        padding: 20px;
        text-align: center;
        font-size: 1.1em;
        & span {
            font-weight: bold;
        }
    }
    &__icon {
        font-size: 1.2em;
        color: darken($color-bkg, 15%);
    }
    &__btn {
        width: 80%;
        display: block;
        margin: auto;
        @include boxshadowBtn(lighten(#000, 20%));
        font-weight: bold!important;
        border: 2px solid #000;
     /*   &:active + #form-section { MARCHE PAS !!
            opacity: 1;
            animation: form 2000ms both;
        }*/
    }
}

.form {
    width: 60%;
    /*position: absolute;
    top: 15%;
    left: 20%;*/
    &__title {
        color: $color-tertiary!important;
        font-weight: bold!important;
        margin: auto;
        margin-bottom: 20px;
        text-align: center;
    }
    &__btn {
        text-align: center;
        width: 300px;
        height: 80px;
        margin: auto;
        display: block;
        font-size: 1.3em;
        font-weight: bold;
    }
}
/*

#form-section {
    opacity: 0;
}

@keyframes form {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
*/

/*PAGE PRODUIT---------------------------------------------------------------------*/

/*Mise en page du produit sélectionné dans la page d'accueil */

.produitselect {
    padding-top: 160px;
    background: url("../images/fondBois2.jpg") no-repeat;
    background-size: cover;
    &__box {
        margin-right: 30px;
        background-color: rgba(250, 250, 250, 0.6);
        padding: 0;
    }
    &__title {
            padding: 25px 0px 20px 0;
        }
    &__details {
        width: 50%;
        margin: auto;
        margin-bottom: 30px;
        background: darken(rgba(174,118,134, 0.6), 20%);
        & h2 {
            padding: 15px;
            color: #F1E9F0;
        }
    }
}

#return-icon {
    color: #000;
    font-size: 2.5em;
    margin-left: 150px;
}


.pdtcase {
    background: $color-white;
    margin: 40px auto 80px auto;
    padding: 10px;
    padding-bottom: 50px;
    border: 2px solid #000;
    border-radius: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @include boxshadow;
    position: relative;
    &__img {
        width: 100%;
        border-radius: 20px 20px 0 0;
        margin-bottom: 30px; 
    }
    &__title {
        font-size: 1.7em;
        text-transform: uppercase;
        margin-bottom: 10px;
        &::after { // Ligne en-dessous du titre
            content: "";
            display: block;
            width: 100%;
            border-bottom: 3px solid $color-tertiary;
            padding-top: 6px;
        }
    }
    &__description {
        width: 80%;
    }
    &__stock {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        background: $color-tertiary;
        color: $color-white;
        border: 1px solid black;
        border-radius: 50%;
        font-size: 0.8em;
        padding: 20px 5px;
        transform: rotate(30deg);
    }
    &__buttons {
        display: flex;
        flex-direction : row;
        justify-content: space-between;
    }
    &__varnish {
        background: $color-tertiary;
        margin-right: 15px;
    }
    &__order {
        margin-left: 15px;
    }  
}


.dropdown {
        background: $color-tertiary!important;
    }



/* MEDIA QUERIES POUR ADAPTER LE SITE A UN ECRAN TABLETTE*/
/*
@media screen and (min-width : 770px) and (max-width : 1024px) {
    

/* MEDIA QUERIES POUR ADAPTER LE SITE A UN ECRAN SMARTPHONE*/
/*
@media screen and (max-width : 770px) {
}
*/

/*FORMULAIRE-----------------------------------------------------------------------*/

/*joli mais ne donne pas d'indication
input:invalid {
  border: 2px solid $color-secondary;
}

input:valid {
    border: 2px solid $color-tertiary;
}*/



