
/* PAGE ACCUEIL

Mise en page des "cases" produits affichées sur la page d'accueil */

.card {
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius : 10px;
    display: flex;
    flex-direction : row;
    justify-content: space-between;
    align-items: center;
    &__button {
        height: 45px;
        margin-left: 20px;
        &:hover {
            cursor:pointer;
        }
    }
    &__img {
    max-width:25%;
    max-height: 100%;
    align-self: stretch;
    object-fit: scale-down;/* A retravailler pour la proportion*/
    margin-right: 20px;
    }
    &__details {
    width: 50%;         
    }
    &__description {
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis; 
    }
}






